@font-face {
  font-family: "Mona Sans";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.dribbble.com/assets/mona-sans/Mona-Sans-f258701679eace96725e03121950af40ae6e4ceef03b21242c66a3b7ae6ccbf4.woff2")
    format("woff2");
}

:root {
  --label-font-size: 0.55rem;
  --input-height: 2.5rem;
  --input-active-color: #ffbdf6;
  --grey-color: rgb(194, 194, 194);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Mona Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
  background-color: white;

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

#animation {
  width: 400px;
  background-color: red;
}

#animation .logo-wrapper {
  position: fixed;
  z-index: 1;
  padding: 1rem 0rem;
  padding-left: 2rem;
  cursor: pointer;
}

#animation .video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#animation video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#form {
  flex: 1;

  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.form-container {
  width: 400px;
  padding: 2rem;
  padding-left: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 2rem;
}

.google-sign-in {
  width: 100%;
  height: 3rem;
}

.google-sign-in > button {
  width: 100%;
  height: 100%;
  border: 1px solid var(--grey-color);
  background-color: white;
  border-radius: var(--input-height);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.google-sign-in .logo-google {
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  margin-right: 0.5rem;
}

.google-sign-in .google-text {
  font-size: 0.65rem;
  font-weight: 500;
}

.google-sign-in img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.break-line {
  width: 100%;
  height: 3rem;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.break-line > span {
  width: 100%;
  font-size: var(--label-font-size);
  text-align: center;
  color: gray;
}

.break-line > hr {
  width: 100%;
}

.input-username > input,
.input-password > input {
  height: var(--input-height);
  border-radius: 10px;
  border: 1px solid var(--grey-color);
  padding-left: 1rem;
  outline: none;
  transition: all 0.25s ease-in-out;
}

.input-username > input:hover,
.input-password > input:hover {
  box-shadow: 0 0 5px 2px var(--input-active-color);
  transition: all 0.25s ease-in-out;
}

.input-username > input:focus,
.input-password > input:focus {
  border: 1px solid var(--input-active-color);
}

.input-username {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-username label {
  font-weight: bold;
  font-size: var(--label-font-size);
  margin-bottom: 0.25rem;
}

.input-password {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-password span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-password label {
  font-weight: bold;
  font-size: var(--label-font-size);
  margin-bottom: 0.25rem;
}

.input-password a {
  text-decoration: underline;
  color: black;
  font-size: var(--label-font-size);
}

.sign-in {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
}

.sign-in > button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: black;
  color: white;
  border-radius: var(--input-height);
}

.sign-up {
  width: 100%;
  font-size: var(--label-font-size);
  text-align: center;
  color: var(--grey-color);
}

.sign-up a {
  text-decoration: underline;
  color: black;
  font-size: var(--label-font-size);
}

@media screen and (max-width: 600px) {
  #animation {
    display: none;
  }

  #form {
    justify-content: center;
  }
}
